@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap');

:root{
    --bodyBg: #ffffff;
    --bodyColor: #000000;
    --box-shadow: 15px 15px 46px #a3a3a3,
                 -15px -15px 46px #ffffff;
    transition: background-color .7s;
    transition: box-shadow .7s;
}

.darkMode:root
{
    --bodyBg: #212529;
    --bodyColor: #899095;
    --box-shadow: 11px 11px 22px #121417,
                 -11px -11px 22px #30363b;
    transition: background-color .7s;
    transition: box-shadow .7s;
}

.newsletter
{
    padding: 1.20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.form
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.newsletter input[type="email"]
{
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    width: 74%;
    border-radius: 108px;
    background-color: var(--bodyBg);
    box-shadow:  var(--box-shadow);
    transition: background-color .7s;
    transition: box-shadow .7s;
}     

.newsletter input[type="email"]:focus
{
    background-color: var(--bodyBg);
    box-shadow:  var(--box-shadow);
    transition: background-color .7s;
    transition: box-shadow .7s;
}


.emailForm input[type="submit"]
{
    border: none;
    outline: 0;
    color: azure;
    background: linear-gradient(to top left, #03999e, #733ec8);
    height: 46px;
    border-radius: 100px;
    transition: background .5s;
    margin-left: 10px;
    width: 20%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}


.emailForm label
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    transition: font-size .7s;
}

@media (max-width: 700px)
{   
    .emailForm label
    {
        font-size: small;
        transition: font-size .7s;
    }
}